.restcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.rest {
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  margin: 10px;
  width: 450px;
  font-family: touse;
  transition-property: box-shadow;
  transition-duration: 0.25s;
}
.rest:hover {
  box-shadow: 0 0 15px grey;
}
.sepline {
  height: 1px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  margin-top: 5px;
}
.restinfo {
  padding: 10px;
  cursor: default;
}
.restname {
  font-size: 20px;
  color: rgb(179, 138, 245);
}
.resttypes {
  font-size: 14px;
  color: wheat;
  letter-spacing: 1px;
  padding: 2px;
  padding-left: 4px;
  font-family:  Verdana;
  margin: 5px;
  padding: 3px;
  border: 1px solid grey;
}
.restfilter li {
  display: inline-block;
}
.restfilter {
  padding-bottom: 100px;
  padding-left: 120px;
  padding-right: 120px;
}
.reststats {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  font-size: 30px;
  color: hotpink;
  padding: 5px;
  cursor: default;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.reststats:hover {
  background-color: rgb(175, 193, 226);
  color: white;
}
.centers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 0px;
}
centers h3 {
  color: whitesmoke;
}
.filterbtn{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}
#restfilter option {
  background: black !important;
  font-size: 15px;
}
#restfilter {
  padding: 0.8rem;
  font-size: 20px;
  color: #6ad810ec;
  border: 2px solid hotpink;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(13, 17, 19) 0%,
    rgb(233, 28, 130) 100%
  );
}
.container {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.link {
  background-color: #c9dfca;
  color: rgb(36, 10, 228) !important;
  font-size: 40px;
  border-radius: 10%;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 650px) {
  .restfilter {
    padding-left: 30px;
    padding-right: 30px;
  }
  .rest{
  width: 250px;
  }
  .filterbtn{
    padding-left: 1px;
    padding-right: 1px;
    font-size: 17px;
    margin: auto;
  }
  .container{
    width: 80%;
    height: 80%;
  }
}

